workflows/YT_reply_settings.json
{
  "name": "YT答覆設定",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c041c018-d6df-473f-a0af-3d31bbcc0693",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "084b9eb9-b7c0-40c4-864b-bfaa08723c19",
      "name": "Webhook",
      "webhookId": "c041c018-d6df-473f-a0af-3d31bbcc0693"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $('Webhook').item.json.body.events[0].message.text }}",
        "options": {
          "systemMessage": "你是嚴格的資料格式化助理。你的任務是把使用者訊息解析成 JSON。\n\n【絕對規則 - 不可違反】\n1. 只輸出 JSON，不要任何說明文字、emoji、開場白\n2. 不要用 ```json``` 之類的 markdown 包起來\n3. 不要在 JSON 前後加任何字\n4. 多筆時每筆獨立一行，用換行 \\n 分隔\n5. 單筆只輸出 1 行 JSON\n\n【格式】\n{\"url\":\"完整網址\",\"id\":\"影片ID\",\"key\":\"關鍵字\",\"reply\":\"回覆文字\"}\n\n【欄位規則】\n- id：必須是純粹 11 字元 YouTube 影片 ID（A-Z, a-z, 0-9, -, _）\n  範例：\n    https://youtu.be/AcO7g7tS4Ew → id 是 AcO7g7tS4Ew\n    https://youtu.be/AcO7g7tS4Ew?si=xxx → id 是 AcO7g7tS4Ew\n    https://www.youtube.com/watch?v=AcO7g7tS4Ew → id 是 AcO7g7tS4Ew\n- 所有欄位前後不能有空白、TAB、換行\n- key 和 reply 必須是字串（用引號包起來）\n\n【負面範例 - 絕對不要這樣】\n❌ 以下是解析結果：{\"url\":...}\n❌ ```json\\n{\"url\":...}\\n```\n❌ {\"url\":..., \"id\":  \"abc\"} ← 多空格\n❌ {\"key\": 123} ← 數字沒包字串引號\n\n只輸出 JSON 本身，其他什麼都不要。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        0
      ],
      "id": "e5e357d7-efa2-4ced-b344-ad7723bed8a2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        272,
        288
      ],
      "id": "1d3f69aa-b562-43d3-a758-ce4a1275d197",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "pUc8FHkL6VjEgiDX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output;\n\n// 統一處理：可能是字串（傳統）或物件（structured output）\nlet rawString = typeof raw === 'string' ? raw : JSON.stringify(raw);\nrawString = rawString.replace(/```json|```/g, '').trim();\n\nconst lines = rawString.split('\\n').filter(line => line.trim());\nconst results = [];\n\nfor (const line of lines) {\n  try {\n    const data = JSON.parse(line.trim());\n    \n    // 驗證必要欄位\n    if (!data.url || !data.id || !data.key || !data.reply) {\n      console.log('缺欄位，跳過:', line);\n      continue;\n    }\n    \n    // 驗證 id 格式（11 字元 + 合法字元）\n    if (!/^[A-Za-z0-9_-]{11}$/.test(String(data.id).trim())) {\n      console.log('id 格式錯誤，跳過:', data.id);\n      continue;\n    }\n    \n    // 強制轉字串 + trim\n    results.push({\n      json: {\n        url: String(data.url).trim(),\n        id: String(data.id).trim(),\n        key: String(data.key).trim(),\n        reply: String(data.reply).trim()\n      }\n    });\n  } catch (e) {\n    console.log('JSON parse 失敗，跳過:', line, e.message);\n  }\n}\n\nif (results.length === 0) {\n  throw new Error('AI 沒回傳任何有效資料');\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "edec6476-7831-4e60-b9dc-4b71cf2688c7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tP-wRi63mHJHNJWrOwZTFVIFAfnxEL-UFJHXn2ZQIc0",
          "mode": "list",
          "cachedResultName": "YT自動回覆留言",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tP-wRi63mHJHNJWrOwZTFVIFAfnxEL-UFJHXn2ZQIc0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tP-wRi63mHJHNJWrOwZTFVIFAfnxEL-UFJHXn2ZQIc0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "youtube_url": "={{ $json.url }}",
            "ID": "={{ $json.id }}",
            "關鍵字": "={{ $json.key }}",
            "回應": "={{ $json.reply }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "youtube_url",
              "displayName": "youtube_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "關鍵字",
              "displayName": "關鍵字",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "回應",
              "displayName": "回應",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "檢查時間",
              "displayName": "檢查時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "已回覆留言ID",
              "displayName": "已回覆留言ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "f1320649-7147-4dae-b3e8-dbb00531e267",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0e5QQKWZ4Pv510nQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  to: $('Webhook').item.json.body.events[0].source.userId,\n  messages: [{\n    type: 'text',\n    text: $('Code in JavaScript').all().length === 1\n      ? '✅ 設定完成！\\n\\n影片：' + $('Code in JavaScript').first().json.url\n        + '\\n關鍵字：' + $('Code in JavaScript').first().json.key\n        + '\\n自動回覆：' + $('Code in JavaScript').first().json.reply\n      : '✅ 設定完成！共新增 ' + $('Code in JavaScript').all().length + ' 筆：\\n\\n' +\n        $('Code in JavaScript').all().map((item, i) =>\n          (i+1) + '. 影片：' + item.json.url +\n          '\\n   關鍵字：' + item.json.key +\n          '\\n   回覆：' + item.json.reply\n        ).join('\\n\\n')\n  }]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        0
      ],
      "id": "bfe600c1-5f1e-450c-93eb-ba66daf721d8",
      "name": "HTTP Request",
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "1Fv7w0nmdUAGPQEa",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"items\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"url\": { \"type\": \"string\" },\n          \"id\": { \n            \"type\": \"string\",\n            \"pattern\": \"^[A-Za-z0-9_-]{11}$\"\n          },\n          \"key\": { \"type\": \"string\" },\n          \"reply\": { \"type\": \"string\" }\n        },\n        \"required\": [\"url\", \"id\", \"key\", \"reply\"]\n      }\n    }\n  },\n  \"required\": [\"items\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        448,
        208
      ],
      "id": "9f634006-272f-4adf-93a9-1b7682020990",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b10c808a-ee45-419b-9755-2ecd23aeb036",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "537727339946beed0622941aa3c89f1725791628f19edbcf81a0d40306ae7f7c"
  },
  "id": "R1D8liOHu5jYebf0",
  "tags": []
}
